@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/cerebrisans-regular.woff) format("opentype");
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/cerebrisans-medium.woff) format("opentype");
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/cerebrisans-semibold.woff) format("opentype");
}
